<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--将Job类放入Spring容器-->
    <bean id="springQuartzJob" class="com.leoIt.crm.jobs.SpringQuartzJob"/>

    <!--定义JobDetail-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!--Job类-->
        <property name="targetObject" ref="springQuartzJob"/>
        <!--job类中的任务方法-->
        <property name="targetMethod" value="doSomething"/>
    </bean>

    <bean id="quartzJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <!--定义为循环任务-->
        <property name="durability" value="true"/>
        <!--Quartz Job的实现类完全限定名-->
        <property name="jobClass" value="com.leoIt.crm.jobs.MyQuartzJob"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="accountId" value="9000"/>
            </map>
        </property>
    </bean>

    <!--定义Trigger-->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!--定义JobDetail-->
        <property name="jobDetail" ref="quartzJob"/>
        <!--Cron表达式-->
        <property name="cronExpression" value="0/30 * * * * ? *"/>
    </bean>

    <!--定义调度器-->
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="applicationContextSchedulerContextKey" value="springApplicationContext"/>
        <!--配置数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--事务管理器-->
        <property name="transactionManager" ref="transactionManager"/>
        <!--quartz.properties文件的位置-->
        <property name="configLocation" value="classpath:quartz.properties"/>
        <!--是否覆盖数据库中已有的任务-->
        <property name="overwriteExistingJobs" value="true"/>
        <property name="triggers">
            <list>
                <!--<ref bean="cronTrigger"></ref>-->
            </list>
        </property>
    </bean>


</beans>